<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<!--
	Copyright (c) 2009 Daniel Grout.
	
	GNU GENERAL PUBLIC LICENSE - Version 3
	
	This file is part of Report Runner (http://code.google.com/p/reportrunner).
	
	Report Runner is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	Report Runner is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with Report Runner. If not, see <http://www.gnu.org/licenses/>.
	
	Module: applicationContext-db.xml
-->
<beans>

	<!--  our main data source -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="breakAfterAcquireFailure"
			value="${c3p0.breakAfterAcquireFailure}" />
		<property name="automaticTestTable"
			value="${c3p0.automaticTestTable}" />
		<property name="idleConnectionTestPeriod"
			value="${c3p0.idleConnectionTestPeriod}" />
	</bean>

	<!--  hibernate plumbing -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					${hibernate.dialect}
				</prop>
				<prop key="hibernate.hbm2ddl.auto">
					${hibernate.hbm2ddl.auto}
				</prop>
				<prop key="hibernate.cache.provider_class">
					net.sf.ehcache.hibernate.SingletonEhCacheProvider
				</prop>
				<prop key="hibernate.connection.autoReconnect">
					${hibernate.connection.autoReconnect}
				</prop>
				<prop key="hibernate.show.sql">
					${hibernate.showSql}
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>
					binky.reportrunner.data.RunnerDashboardAlert
				</value>
				<value>
					binky.reportrunner.data.RunnerHistoryEvent
				</value>
				<value>binky.reportrunner.data.RunnerJob</value>
				<value>
					binky.reportrunner.data.RunnerJobParameter
				</value>
				<value>binky.reportrunner.data.RunnerGroup</value>
				<value>binky.reportrunner.data.RunnerUser</value>
				<value>binky.reportrunner.data.RunnerDataSource</value>
			</list>
		</property>
		<property name="annotatedPackages">
			<list>
				<value>binky.reportrunner.data</value>
			</list>
		</property>
	</bean>
	<bean id="hibernateInterceptor"
		class="org.springframework.orm.hibernate3.HibernateInterceptor"
		autowire="byName" />
	<bean id="runnerJobParameterDaoTarget"
		class="binky.reportrunner.dao.impl.RunnerJobParameterDaoImpl"
		autowire="byName" />
	<bean id="runnerJobParameterDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>binky.reportrunner.dao.RunnerJobParameterDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>runnerJobParameterDaoTarget</value>
			</list>
		</property>
	</bean>
	<bean id="runnerHistoryDaoTarget"
		class="binky.reportrunner.dao.impl.RunnerHistoryDaoImpl"
		autowire="byName" />
	<bean id="runnerHistoryDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>binky.reportrunner.dao.RunnerHistoryDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>runnerHistoryDaoTarget</value>
			</list>
		</property>
	</bean>
	<bean id="runnerJobDaoTarget"
		class="binky.reportrunner.dao.impl.RunnerJobDaoImpl"
		autowire="byName" />
	<bean id="runnerJobDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>binky.reportrunner.dao.RunnerJobDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>runnerJobDaoTarget</value>
			</list>
		</property>
	</bean>
	<bean id="runnerGroupDaoTarget"
		class="binky.reportrunner.dao.impl.RunnerGroupDaoImpl"
		autowire="byName" />
	<bean id="runnerGroupDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>binky.reportrunner.dao.RunnerGroupDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>runnerGroupDaoTarget</value>
			</list>
		</property>
	</bean>
	<bean id="runnerUserDaoTarget"
		class="binky.reportrunner.dao.impl.RunnerUserDaoImpl"
		autowire="byName" />
	<bean id="runnerUserDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>binky.reportrunner.dao.RunnerUserDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>runnerUserDaoTarget</value>
			</list>
		</property>
	</bean>
	<bean id="dashboardDaoTarget"
		class="binky.reportrunner.dao.impl.RunnerDashboardAlertDaoImpl"
		autowire="byName" />
	<bean id="dashboardDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>
				binky.reportrunner.dao.RunnerDashboardAlertDao
			</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>dashboardDaoTarget</value>
			</list>
		</property>
	</bean>



	<bean id="runnerDataSourceDaoTarget"
		class="binky.reportrunner.dao.impl.RunnerDataSourceDaoImpl"
		autowire="byName" />
	<bean id="runnerDataSourceDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>binky.reportrunner.dao.RunnerDataSourceDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>runnerDataSourceDaoTarget</value>
			</list>
		</property>
	</bean>


</beans>
