<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!--  our main data source -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${jdbc.driver}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="initialSize">
			<value>2</value>
		</property>
		<property name="maxActive">
			<value>15</value>
		</property>
		<property name="maxIdle">
			<value>2</value>
		</property>
		<property name="validationQuery">
			<value>${jdbc.validation.query}</value>
		</property>		
		<property name="validationQueryTimeout">
			<value>${jdbc.validation.timeout}</value>
		</property>		
	</bean>


	<!--  hibernate plumbing -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					${hibernate.dialect}
				</prop>
				<prop key="hibernate.hbm2ddl.auto">
					${hibernate.hbm2ddl.auto}
				</prop>
				
				<prop key="hibernate.connection.autoReconnect">
					${hibernate.connection.autoReconnect}
				</prop>
				<prop key="hibernate.show.sql">
					${hibernate.showSql}
				</prop>
				
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.use_sql_comments">false</prop>
                <prop key="hibernate.max_fetch_depth">1</prop>

                <prop key="hibernate.cache.use_structured_entries">false</prop>
                <prop key="hibernate.bytecode.use_reflection_optimizer">false</prop>
                <prop key="hibernate.jdbc.batch_size">100</prop>
                <prop key="hibernate.generate_statistics">false</prop>

                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_minimal_puts">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
      			<prop key="hibernate.jdbc.use_streams_for_binary">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>
					binky.reportrunner.data.RunnerDashboardItem
				</value>
				<value>
					binky.reportrunner.data.RunnerDashboardChart
				</value>
				<value>
					binky.reportrunner.data.RunnerDashboardGrid
				</value>
				<value>
					binky.reportrunner.data.RunnerDashboardThreshold
				</value>
				<value>
					binky.reportrunner.data.RunnerDashboardSampler
				</value>
				<value>
					binky.reportrunner.data.sampling.SamplingData
				</value>				
				<value>
					binky.reportrunner.data.sampling.TrendData
				</value>				
				<value>
					binky.reportrunner.data.RunnerHistoryEvent
				</value>
				<value>binky.reportrunner.data.RunnerJob</value>
				<value>
					binky.reportrunner.data.RunnerJobParameter
				</value>
				<value>binky.reportrunner.data.RunnerGroup</value>
				<value>binky.reportrunner.data.RunnerUser</value>
				<value>binky.reportrunner.data.RunnerDataSource</value>
			</list>
		</property>
		<property name="annotatedPackages">
			<list>
				<value>binky.reportrunner.data</value>
			</list>
		</property>
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="hibernateManagedSession" value="false" />
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>



	<bean id="runnerJobParameterDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.RunnerJobParameter</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="runnerJobParameterDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="runnerJobParameterDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>



	<bean id="runnerHistoryDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.RunnerHistoryEvent</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="runnerHistoryDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="runnerHistoryDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="runnerJobDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.RunnerJob</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="runnerJobDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="runnerJobDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="runnerGroupDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.RunnerGroup</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="runnerGroupDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="runnerGroupDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<bean id="runnerUserDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.RunnerUser</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="runnerUserDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="runnerUserDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>

	<bean id="dashboardDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.RunnerDashboardItem</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="dashboardDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="dashboardDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>



	<bean id="runnerDataSourceDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.RunnerDataSource</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="runnerDataSourceDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="runnerDataSourceDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="trendDataDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.sampling.TrendData</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="trendDataDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="trendDataDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="samplingDataDaoTarget"
		class="binky.reportrunner.dao.impl.HibernateDaoImpl"
		autowire="byName">
		<constructor-arg>
			<value>binky.reportrunner.data.sampling.SamplingData</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="samplingDataDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="samplingDataDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>	
</beans>
