<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!--  actions -->

	<bean id="downloadReportAction" class="binky.reportrunner.ui.actions.job.viewer.DownloadReportAction" scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>	
	</bean>

	<bean id="downloadChartAction" class="binky.reportrunner.ui.actions.dashboard.DownloadChartAction" scope="prototype">
	</bean>
	
	<bean id="indexAction" class="binky.reportrunner.ui.actions.IndexAction"
		scope="prototype" >
		<property name="dashboardService">
			<ref bean="dashboardService" />
		</property>		
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>		
	</bean>
	
	<bean id="logoutAction" class="binky.reportrunner.ui.actions.Logout"
		scope="prototype" />		
		
	<bean id="listJobsAction" class="binky.reportrunner.ui.actions.job.ListJobsAction"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>
	<bean id="listGroupsAction" class="binky.reportrunner.ui.actions.group.ListGroupsAction"
		scope="prototype">
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>
	</bean>
	<bean id="changeAllGroupJobStatusAction"
		class="binky.reportrunner.ui.actions.group.ChangeAllGroupJobStatus"
		scope="prototype">
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>

	<bean id="deleteGroupAction" class="binky.reportrunner.ui.actions.group.DeleteGroup"
		scope="prototype">
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>
	</bean>
	<bean id="saveGroupAction" class="binky.reportrunner.ui.actions.group.SaveGroup"
		scope="prototype">
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>		
	</bean>
	<bean id="setupEditGroupAction" class="binky.reportrunner.ui.actions.group.SetupEditGroup"
		scope="prototype">
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>
	</bean>

	<bean id="deleteJobAction" class="binky.reportrunner.ui.actions.job.DeleteJob"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>

	<bean id="setupViewJobAction" class="binky.reportrunner.ui.actions.job.viewer.SetupViewJobAction"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>
	
	<bean id="viewJobOutputAction" class="binky.reportrunner.ui.actions.job.viewer.ViewJobOutputAction"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
		<property name="historyDao">
			<ref bean="runnerHistoryDao" />
		</property>		
	</bean>

	<bean id="invokeJobAction" class="binky.reportrunner.ui.actions.job.InvokeJob"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>

	<bean id="saveJobAction" class="binky.reportrunner.ui.actions.job.SaveJob"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
		<property name="parameterDao">
			<ref bean="runnerJobParameterDao" />
		</property>
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>		
	</bean>
	<bean id="setJobStatusAction" class="binky.reportrunner.ui.actions.job.SetJobStatus"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>
	<bean id="setupEditJobAction" class="binky.reportrunner.ui.actions.job.SetupEditJob"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>		
	</bean>
	<bean id="viewJobDetailAction" class="binky.reportrunner.ui.actions.job.ViewJobDetail"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
		<property name="historyDao">
			<ref bean="runnerHistoryDao" />
		</property>
	</bean>

	<bean id="deleteDataSourceAction"
		class="binky.reportrunner.ui.actions.datasource.DeleteDataSource"
		scope="prototype">
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>
	</bean>

	<bean id="listDataSourcesAction"
		class="binky.reportrunner.ui.actions.datasource.ListDataSources"
		scope="prototype">
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>
	</bean>

	<bean id="saveDataSourceAction" class="binky.reportrunner.ui.actions.datasource.SaveDataSource"
		scope="prototype">
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>
	</bean>

	<bean id="setupEditDataSourceAction"
		class="binky.reportrunner.ui.actions.datasource.SetupEditDataSource"
		scope="prototype">
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>
	</bean>

	<bean id="setupEditUserAction" class="binky.reportrunner.ui.actions.user.SetupEditUser"
		scope="prototype">
		<property name="userDao">
			<ref bean="runnerUserDao" />
		</property>
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>
	</bean>

	<bean id="changePasswordAction" class="binky.reportrunner.ui.actions.user.ChangePassword"
		scope="prototype">
		<property name="userDao">
			<ref bean="runnerUserDao" />
		</property>
	</bean>
	<bean id="setupChangePasswordAction" class="binky.reportrunner.ui.actions.user.SetupChangePassword"
		scope="prototype"/>
		
	<bean id="deleteUserAction" class="binky.reportrunner.ui.actions.user.DeleteUser"
		scope="prototype">
		<property name="userDao">
			<ref bean="runnerUserDao" />
		</property>
	</bean>

	<bean id="listUsersAction" class="binky.reportrunner.ui.actions.user.ListUsers"
		scope="prototype">
		<property name="userDao">
			<ref bean="runnerUserDao" />
		</property>
	</bean>

	<bean id="saveUserAction" class="binky.reportrunner.ui.actions.user.SaveUser"
		scope="prototype">
		<property name="userDao">
			<ref bean="runnerUserDao" />
		</property>
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>		
	</bean>

	<bean id="manageServerAction" class="binky.reportrunner.ui.actions.ManageServerAction"
		scope="prototype">
	</bean>

	
	
	<bean id="deleteAlertAction" class="binky.reportrunner.ui.actions.dashboard.DeleteAlert" scope="prototype">
		<property name="dashboardService">
			<ref bean="dashboardService" />
		</property>		
	</bean>

	<bean id="setupEditAlertAction" class="binky.reportrunner.ui.actions.dashboard.SetupEditAlert" scope="prototype">
		<property name="dashboardService">
			<ref bean="dashboardService" />
		</property>		
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>		
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>		
	</bean>

	<bean id="saveAlertAction" class="binky.reportrunner.ui.actions.dashboard.SaveAlert" scope="prototype">
		<property name="dashboardService">
			<ref bean="dashboardService" />
		</property>		
		<property name="groupDao">
			<ref bean="runnerGroupDao" />
		</property>		
		<property name="dataSourceDao">
			<ref bean="runnerDataSourceDao" />
		</property>		
	</bean>

	<bean id="listAlertsAction" class="binky.reportrunner.ui.actions.dashboard.ListAlerts" scope="prototype">
		<property name="dashboardService">
			<ref bean="dashboardService" />
		</property>		
	</bean>

	<bean id="listCurrentExecutingJobsAction" class="binky.reportrunner.ui.actions.admin.ListCurrentExecutingJobsAction"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>

	<bean id="interruptCurrentExecutingJobAction" class="binky.reportrunner.ui.actions.admin.InterruptCurrentExecutingJobAction"
		scope="prototype">
		<property name="jobService">
			<ref bean="runnerJobService" />
		</property>
	</bean>

	<bean id="setupJobStatsAction" class="binky.reportrunner.ui.actions.admin.SetupJobStatsAction"
		scope="prototype">
		<property name="historyDao">
			<ref bean="runnerHistoryDao" />
		</property>		
	</bean>

</beans>