
.tipText {
	color:#0000ff;
	font-size:10px;
	float:right;
	margin-top:15px;
	margin-right:5px;
	visibility:hidden;
	width:250px;
}

.formFooterText {
	margin:5px;
	font-style:italic;
	font-size:10px
	color:#666666;
}

.formGroup {
	clear:both;
	width:600px;;
	margin:5px;
	border: 1px solid #ccc;;	
}

.formGroupHeader{
	font-weight:bold;
	font-size:11px;
	
	clear:both;
	height:20px;
	padding-left:2px;
	padding-top:4px;
	background-image: url(../images/formheaderbg.png);
	background-repeat: repeat-x; 	
}


 form br {
	 display: none;

 }

 label, .label {	
 	font-weight:bold;
	font-style:normal;  
	color:#666666;
	font-size:10px;
 }

 
.wwgrp {
	margin-bottom:5px;
	padding:5px;
}
 
/* FORM ELEMENTS */
	
	label {  
	
	}
	input{
		background-image: url(../images/inputbg.png);
		background-repeat: repeat-x; 		
	}

	input, select, textarea {
		vertical-align:middle;
		width:300px;
		border: 1px solid #ccc;
		font-size:11px;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
	
	input.check {
		border: none;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.readonly {
		background-color: #CCC;	
	}
	input.button {
		width:auto;
	}
	input.image {
		border: none;
		width: auto;
		height: auto; 
	}
	
/* END FORM ELEMENTS */
