
.formGroup {
	width:600px;
	margin-bottom:10px;
	padding:2px;
	margin: 0 auto;
}

.formGroupHeader{
	font-weight:bold;
	text-size:11px;
	border-top: 1px solid black;
	clear:both;
	height:20px;
	padding:2px;
	text-align:top;
	background-color:#eeeeee;
	
}


 form br {
	 display: none;

 }

 label, .label {	
 	font-weight:bold;
	font-style:normal;  
	display: block;
 }
 
.wwgrp {
	margin-bottom:5px;
}
 
/* FORM ELEMENTS */
	
	label {  
	
	}

	input, select, textarea {
		vertical-align:middle;
		width:300px;
		border: 1px solid #ccc;
		font-size:12px;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
	
	input.check {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.readonly {
		background-color: #CCC;	
	}
	input.button {
		width:auto;
	}
	input.image {
		border: none;
		width: auto;
		height: auto; 
	}
	
/* END FORM ELEMENTS */
