/* main layout */



#jobEditForm {
	width:650px;
	margin:0px;
	padding:0px;
}
.appLogo {
	float:left;
	padding-left:10px;
	
}
#userName {
	float:right;
	color:#ffffff;
	padding-right:10px;
	padding-top:17px;
}
.vendorLogo {
	float:right;
}
.whiteLink {
	color:#fffff;
}

body,html {
padding:0px;
margin:0px;
height:100%;

}

body {
	background-image: url(../images/v2/background.png);
}

#container
{
left:0px;
right:20px;
position:absolute;
top:60px;
height:auto;
bottom:10px;

}

#top
{
position:absolute;
background-color: #000000;
background-image: url(../images/v2/top_bar_bg.png);
height:50px;
width:100%;
}

#top h1
{
padding: 0;
margin: 0;
}
.navItem {
	
	height:35px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #222222;
	padding:5px;
	line-height:35px;
}
.navItem A,.navItemTop A {
	color:#ffffff;
	font-weight:bold;
}
.navItem A:hover,.navItemTop A:hover {
        color: #11b7f0;
}

.navItemTop {
	height:35px;
	padding:5px;
	line-height:35px;
	border-bottom: 1px solid #222222;
}
.navBody {
position:absolute;
background-color: #333333;

top:0px;
height:auto;
width:160px;
overflow:hidden;
}
.navIcon {
position:relative;
top:5px;
width:25px;
height: 25px;
float:left;
margin-right:7px;
}
#leftNav
{
position:absolute;
top:0px;
width: 160px;
margin: 0;	
height:400px;
overflow:auto;
}
.navItemSec {
	
	height:35px;
	border-top: 1px solid gray;
	padding:5px;
	line-height:35px;
}
.navItemSec A,.navItemSecTop A {
color:#666666;
font-weight:bold;
}
.navItemSec A:hover,.navItemSecTop A:hover {
        color: #11b7f0;
}

.navItemSecTop {
	height:35px;
	padding:5px;
	line-height:35px;
}

.navPaneSec {
	width:250px;
	border: 1px solid gray;
	background-color:#EEEEEE;
	position:absolute;
	visibility:hidden;
}
#manageNavPane {	
	top:153px;
	left:161px;
}
#groupNavPane {	
	top:106px;
	left:161px;
}
#content
{	position:absolute;
	padding:0px;
	top:0px;
	left:170px;
	right:0px;
}

.dashFrameCont{
position:absolute;
border:1px solid gray;
top:30px;
left:1px;
right:1px;	
}
.dashFrame{
height:100%;
width:100%;
}
.tabBar {;
}




/* dashboard layout */
# toolbar {
	position:absolute;
	position:relative;

	height:30px;
} 
#tabContain {
	position:absolute;
	width:100%;
	top:30px;
	bottom:0px;
	overflow: hidden;
}
#tabContentArea {
	position:absolute;
	width:100%;
	height:100%;

}

.dashboard {
}

 .alertBox {
	height:100%;
 }
.widgetContainer {

 }
.clearFix {
	clear:both; 
}


/* Form Layout */
div.wwgrp,div.formSubmit {	
	padding-top: 2px;
	padding-bottom: 2px;
}


div.wwgrp div.wwlbl {	
}

div.wwgrp div.wwctrl {
}

div.wwgrp {

}

div.wwgrp br {
	display: none;
}

textarea  {
	overflow:auto;
}



div.wwgrp div.dateTimePicker {

}
div.wwgrp div.dateTimePicker table tr td.tdLabel {
}

div.formSectionInner {
	width: 550px;
	border-style: dashed;
	border-width: 1px;
	border-color: #000000;
	margin: 5px;
}
div.formSectionInner div.smallLabel {
	width:inherit;
	background-color:#666666;
	font-size:12px;
	color:#FFFFFF;
	height:12px;
	font-weight:bold;
/*	vertical-align:middle;*/
	padding:2px;
}

/* General Styles */

.pageTitle img {
	padding-right:4px;
	padding-left: 4px;
}
.pageTitle{
	width:100%;
	display:inline-table;
	font-weight:bold;
	font-size:14px;	
	height:20px;	
	padding-top:4px;
	background-image: url(../images/formheaderbg.png);
	background-repeat: repeat-x; 	
}

#dashDiv,#reportsDiv {
	padding:0px;	
	overflow:auto;
		margin-top:1px;
}
.toolButtonFirst {
	border-right: 1px solid #aaa;	
}
.toolButtonLast {
	border-right: 2px solid #aaa;
	border-left: 1px solid #ccc;
}
.toolButton  {
	border-right: 1px solid #aaa;
	border-left: 1px solid #ccc;
}
.toolButton , .toolButtonLast,.toolButtonFirst {
	float:left;
	padding:5px;
	
	width:130px;
}
.toolBar a {
	color:#fff;
	font-weight:bold;
}
.toolBar a:hover {
	color: #11b7f0;
}
.toolBar {

	border-bottom: 1px solid #ccc;	
	width:100%;
	height:46px;
	line-height:36px;	
	background-color:#666666;

}
.toolBar img {
	padding-right:5px;
	padding-left:5px;
}
.rowOdd {

}
}
.rowEven {

}

.rowOdd , .rowEven {
	height:20px;
}

.rowOdd td , .rowEven td {
	padding:2px;		
	border-right: 1px solid #666666;;	
	border-bottom: 1px solid #666666
}

.rowHeader img {
	padding-right:4px;
	padding-left:4px;
	padding-bottom:4px;
}

.rowHeader {
	height:25px;
	background-color:#CCCCCC;
	border-top: 1px solid #666666;	
	border-bottom: 1px solid #666666;
	padding-top:4px;
}
.headerCell {
	font-weight:bold;
	background-image: url(../images/formheaderbg.png);
	background-repeat: repeat-x; 	
		color:#333333;		
		height:24px;
		padding:2px;		
	border-right: 1px solid #666666;;	
	border-bottom: 1px solid #666666
	}


/* DASHBOARD CONTAINER SIZES */



.alertBox_Small_Small {
	width:353px;
	min-height:293px;
	border: 1px solid #666;
	float:left;
	margin:3px;
}

.alertBox_Small_Medium {
	width:353px;
	min-height:594px;
	border: 1px solid #666;	
	float:left;
	margin:3px;
}


.alertBox_Small_Large {
	width:353px;
	min-height:694px;
	border: 1px solid #666;		
	float:left;
	margin:3px;
}

.alertBox_Medium_Small {
	width:714px;
	min-height:293px;
	border: 1px solid #666;	
	float:left;
	margin:3px;
}

.alertBox_Medium_Medium {
	width:716px;
	min-height:594px;
	border: 1px solid #666;	
	float:left;
	margin:3px;
}

.alertBox_Medium_Large {
	border: 1px solid #666;	
	width:716px;
	min-height:895px;
	float:left;
	margin:3px;	
}

.alertBox_Large_Small {
	width:1075px;
	min-height:293px;
	float:left;
	margin:3px;
	border: 1px solid #666;	
	
}

.alertBox_Large_Medium {
	width:1075px;
	min-height:594px;
	float:left;
	margin:3px;	
	border: 1px solid #666;	
	
}

.alertBox_Large_Large {
	width:1075px;
	min-height:895px;
	float:left;
	margin:3px;
	border: 1px solid #666;	
	
}


.widgetLabel {	
	font-weight:bold;
	font-size:12px;	 
	color:#333;
	height:25px;
	line-height:25px;
	padding-left:4px;
	border-bottom: 1px solid #ccc;
	background-image:url(../images/v2/listheader.jpg);
	background-repeat: repeat-x; 	
}


.widgetToolbar {
	float:right;
}

.listing {
display: table;
width:100%;

}

.listingHeader  A,.listingHeaderWide A{
	color:#ffffff;
}
.listingHeader  A:hover, .listingHeaderWide A:hover{
	color: #11b7f0;
}

.listingHeader,.listingHeaderWide { 

	border-bottom: 1px solid #ccc;
	background-color:#666666;
	font-weight:bold;	
	color:#cccccc;
	height:36px;
	padding:5px;
	line-height:36px;
	font-size:12px;

}

	.listingHeader {width:590px;}
	.listingHeaderWide {width:790px;}
.listingRow , .listingHeaderRow {
   height:30px;
   line-height:30px;
   display: table-row;
}
.listingHeaderRow  {
	font-weight:bold;
	background-image:url(../images/v2/listheader.jpg);
	background-repeat: repeat-x; 
}  
pre {
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.listingCell    {	
	display: table-cell;
	padding-left:5px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.listingIconCell  {
	display: table-cell;
	width:30px;
	border-bottom: 1px solid #ccc;
}

.listingIcon {
position:relative;
top:0px;
width:25px;
height: 25px;
float:left;
margin-right:7px;

}
