/* main layout */

.appLogo {
	/*float:left;*/
}

.vendorLogo {
	float:right;
}


body,html {
padding:0px;
margin:0px;
height:100%;
}

#container
{
left:10px;
right:10px;
position:absolute;
background-color: #fff;
border: 1px solid gray;
bottom:10px;
top:10px;
height:auto;
}

#top
{
background-color: #aaa;
border-bottom: 1px solid gray;
height:50px;
}

#top h1
{
padding: 0;
margin: 0;
}

#leftnav
{
position:absolute;
top:51px;
float: left;
width: 150px;
margin: 0;
bottom:20px;
}
.dashFrameCont{
position:absolute;
border:1px solid gray;
top:30px;
bottom:0px;
left:1px;
right:1px;	
}
.dashFrame{
height:100%;
width:100%;
}
.tabBar {;
}

.widgetLabel {
width: 100%;
font-weight:bold
;
background-color:#EEEEEE;
border-bottom: 1px solid #666666;
font-size:12px;
height:15px;
padding-top:2px;
}

#footer
{
position:absolute;
color: #333;
background-color: #aaa;
border-top: 1px solid gray;
height:15px;
bottom:0px;
left:0px;
right:0px;
}


.leftNavFrame {
position:absolute;
top:0px;
width: 150px; 
height:100%;
bottom:0px;
}

#content
{
	position:absolute;
	padding:0px;
	top:51px;
	left:151px;
	border-left: 1px solid gray;
	bottom:20px;
	right:0px;
	overflow: auto;
}
/* dashboard layout */
# toolbar {
	position:absolute;
	position:relative;
	width:100%;
	height:30px;
} 
#tabContain {
	position:absolute;
	width:100%;
	top:30px;
	bottom:0px;
	overflow: hidden;
}
#tabContentArea {
	position:absolute;
	width:100%;
	height:100%;

}

.dashboard {
}

 .alertBox {
height:100%;
 }
 .widgetContainer {
  border: 1px solid gray;
 float:left;
 margin-top:5px;
  margin-left:10px;
 margin-right:10px;
 }
.clearFix {
clear:both; 
}


/* Form Layout */
div.wwgrp,div.formSubmit {	
	padding-top: 2px;
	padding-bottom: 2px;
}


div.wwgrp div.wwlbl {	
}

div.wwgrp div.wwctrl {
}

div.wwgrp {

}

div.wwgrp br {
	display: none;
}

textarea  {
	overflow:auto;
}



div.wwgrp div.dateTimePicker {

}
div.wwgrp div.dateTimePicker table tr td.tdLabel {
}

div.formSectionInner {
	width: 550px;
	border-style: dashed;
	border-width: 1px;
	border-color: #000000;
	margin: 5px;
}
div.formSectionInner div.smallLabel {
	width:inherit;
	background-color:#666666;
	font-size:12px;
	color:#FFFFFF;
	height:12px;
	font-weight:bold;
/*	vertical-align:middle;*/
	padding:2px;
}

/* General Styles */

.pageTitle img {
	padding-right:5px;
}
.pageTitle{
	display:inline-table;
	height:16px;
	font-size:12px;
	font-weight:bold;
	width:100%;
	background-color:#EEEEEE;
	border-bottom: 1px solid gray;
}
.rowOdd {
	background-color:#EEEEEE;
}
.rowEven {
	background-color:#DFECFF;
}
.rowHeader {
		background-color:#CCCCCC;
}
.headerCell {
	font-weight:bold;
		background-color:#333333;
		color:#ffffff;
		height:24px;
	}


/* DASHBOARD CONTAINER SIZES */
.alertBox_Small_Small {
	width:342px;
	height:300px;
}
.alertBox_Small_Medium {
	width:342px;
	height:300px;
}
.alertBox_Small_Large {
	width:342px;
	height:605px;
}
.alertBox_Medium_Small {
	width:655px;
	height:300px;
}
.alertBox_Medium_Medium {
	width:655px;
	height:300px;
}
.alertBox_Medium_Large {
	width:655px;
	height:605px;
}
.alertBox_Large_Small {
	width:1020px;
	height:300px;
}
.alertBox_Large_Medium {
	width:1020px;
	height:300px;
}
.alertBox_Large_Large {
	width:1020px;
	height:605px
}
