/* main layout */

.navHeader{
color:#eeeeee;
height:15px;
padding:5px;
width:150px;
font-weight:bold;
background-image: url(../images/v2/navheaderbg.gif);
}
.navFooter{
position:absolute;
color:#eeeeee;
height:15px;
padding:5px;
width:150px;
font-weight:bold;
background-image: url(../images/v2/navfooterbg.gif);
bottom:0px;
}
.navBody {
position:absolute;
background-color: #333333;
top:25px;
bottom:25px;
height:auto;
width:160px;
overflow:auto;
}
div .groupButton {
color:#eeeeee;
background-image: url(../images/v2/groupButton.png);
height:20px;
padding-top:5px;
padding-left:5px;
width:115px;
margin-top:1px;
margin-left:5px;
}
div .groupButtonSelected {
background-image: url(../images/v2/groupButtonHover.png);
color:#3399ff;
height:20px;
padding-top:5px;
padding-left:5px;
width:115px;
margin-top:1px;
margin-left:5px;
}
div .groupButton:hover {
background-image: url(../images/v2/groupButtonHover.png);
color:#3399ff;
cursor:pointer;
}
.appLogo {
	float:left;
	padding-left:10px;
	
}
#userName {
	float:right;
	color:#ffffff;
	padding-right:10px;
	padding-top:17px;
}
.vendorLogo {
	float:right;
}
.whiteLink {
	color:#fffff;
}

body,html {
padding:0px;
margin:0px;
height:100%;

}

body {
background-image: url(../images/v2/background.png);
background-repeat:repeat-x;
}

#navbar {
padding:5px;
left:20px;
right:20px;
position:absolute;
background-image: url(../images/v2/navbarbg.png);
border: 1px solid gray;
top:57px;
height:15px;
overflow:auto;
}

#container
{
left:20px;
right:20px;
position:absolute;
top:90px;
height:auto;
bottom:10px;

}

#top
{
background-color: #000000;
background-image: url(../images/v2/top_bar_bg.png);
height:50px;
}

#top h1
{
padding: 0;
margin: 0;
}

#leftNav
{
position:absolute;
top:0px;
width: 160px;
margin: 0;	
bottom:0px;
overflow:auto;
}


#content
{
	background-color:#FFFFFF;
	position:absolute;
	padding:0px;
	top:0px;
	left:170px;
	right:0px;
	bottom:0px;
	border: 1px solid gray;
	overflow:auto;
}

.dashFrameCont{
position:absolute;
border:1px solid gray;
top:30px;
left:1px;
right:1px;	
}
.dashFrame{
height:100%;
width:100%;
}
.tabBar {;
}




/* dashboard layout */
# toolbar {
	position:absolute;
	position:relative;
	width:100%;
	height:30px;
} 
#tabContain {
	position:absolute;
	width:100%;
	top:30px;
	bottom:0px;
	overflow: hidden;
}
#tabContentArea {
	position:absolute;
	width:100%;
	height:100%;

}

.dashboard {
}

 .alertBox {
	height:100%;
 }
.widgetContainer {

 }
.clearFix {
	clear:both; 
}


/* Form Layout */
div.wwgrp,div.formSubmit {	
	padding-top: 2px;
	padding-bottom: 2px;
}


div.wwgrp div.wwlbl {	
}

div.wwgrp div.wwctrl {
}

div.wwgrp {

}

div.wwgrp br {
	display: none;
}

textarea  {
	overflow:auto;
}



div.wwgrp div.dateTimePicker {

}
div.wwgrp div.dateTimePicker table tr td.tdLabel {
}

div.formSectionInner {
	width: 550px;
	border-style: dashed;
	border-width: 1px;
	border-color: #000000;
	margin: 5px;
}
div.formSectionInner div.smallLabel {
	width:inherit;
	background-color:#666666;
	font-size:12px;
	color:#FFFFFF;
	height:12px;
	font-weight:bold;
/*	vertical-align:middle;*/
	padding:2px;
}

/* General Styles */

.pageTitle img {
	padding-right:4px;
	padding-left: 4px;
}
.pageTitle{
	width:100%;
	display:inline-table;
	font-weight:bold;
	font-size:14px;	
	height:20px;	
	padding-top:4px;
	background-image: url(../images/formheaderbg.png);
	background-repeat: repeat-x; 	
}
.toolBar{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #cccccc;
	width:100%;
	display:inline-table;
	height:15px;	
	padding-top:4px;
	background-image: url(../images/formheaderbg.png);
	background-repeat: repeat-x; 	
}
.toolBar img {
	padding-right:4px;
	padding-left:4px;
}
.rowOdd {

}
}
.rowEven {

}

.rowOdd , .rowEven {
	height:20px;
}

.rowOdd td , .rowEven td {
	padding:2px;		
	border-right: 1px solid #666666;;	
	border-bottom: 1px solid #666666
}

.rowHeader img {
	padding-right:4px;
	padding-left:4px;
	padding-bottom:4px;
}

.rowHeader {
	height:25px;
	background-color:#CCCCCC;
	border-top: 1px solid #666666;	
	border-bottom: 1px solid #666666;
	padding-top:4px;
}
.headerCell {
	font-weight:bold;
	background-image: url(../images/formheaderbg.png);
	background-repeat: repeat-x; 	
		color:#333333;		
		height:24px;
		padding:2px;		
	border-right: 1px solid #666666;;	
	border-bottom: 1px solid #666666
	}


/* DASHBOARD CONTAINER SIZES */



.alertBox_Small_Small {
	width:353px;
	min-height:293px;
	border: 1px solid gray;
	float:left;
	margin:3px;
}

.alertBox_Small_Medium {
	width:353px;
	min-height:594px;
	border: 1px solid gray;	
	float:left;
	margin:3px;
}


.alertBox_Small_Large {
	width:353px;
	min-height:694px;
	border: 1px solid gray;		
	float:left;
	margin:3px;
}

.alertBox_Medium_Small {
	width:714px;
	min-height:293px;
	border: 1px solid gray;	
	float:left;
	margin:3px;
}

.alertBox_Medium_Medium {
	width:716px;
	min-height:594px;
	border: 1px solid gray;	
	float:left;
	margin:3px;
}

.alertBox_Medium_Large {
	border: 1px solid gray;	
	width:716px;
	min-height:895px;
	float:left;
	margin:3px;	
}

.alertBox_Large_Small {
	width:1075px;
	min-height:293px;
	float:left;
	margin:3px;
	border: 1px solid gray;	
	
}

.alertBox_Large_Medium {
	width:1075px;
	min-height:594px;
	float:left;
	margin:3px;	
	border: 1px solid gray;	
	
}

.alertBox_Large_Large {
	width:1075px;
	min-height:895px;
	float:left;
	margin:3px;
	border: 1px solid gray;	
	
}


.widgetLabel {	
	font-weight:bold;
	font-size:11px;
	background-image: url(../images/formheaderbg.png);
	background-repeat: repeat-x; 	
	height:18px;
	padding-top:1px;
	padding-bottom:1px;
}


.widgetToolbar {
	float:right;
	background-image: url(../images/formheaderbg.png);
	margin-top:-10px;
}