body, #MainBar, #ShadeBar, #footerBar, #BottomBar {
	display: block;
	height: auto;
}
#textContentWrapper {
	margin-left: auto;
	margin-right: auto;
	width: 978px;
}
#ShadeBar {
	border-top: 1px solid #444;
	width: 100%;
	border-bottom: 1px solid #aaa;
	background: #666;
}
div.textContent {
	width: 314px;
	height: 300px;
}

div.textContentWide {
	width: 966px;
}
#NavBar  .Button {
	display: inline-block;
	padding: 7px;
	font-size: 16px;
	font-weight: bold;
	float:left;
}
#LogoWrapper {
	width: 800px;
	max-width: none;
}
#TopLinks  .TopLink {
	float:left;
}
#Logo {
	width: 800px;
}

div.textContent,div.textContentWide {
	margin: 5px;
	border: 1px solid #666666;	
}

#TopLinks {
	position: absolute;
	right: 0px; 
}

#BottomBar {
	padding-bottom: 30px;
}

#footerBar {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#social {
	margin-top: 5px;
	text-align: center;
	width: 100%;
	bottom:20px;
	background-color: #666;
	border-top: 1px solid #aaa;
}

#NavBar {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:500px;
}
#newsHeadlineDate {
	display: block;
	height: 16px;
	font-weight: bold;
}

#newsHeadline {
	color: #666666;
	display: block;
	font-weight: bold;
	font-size: 16px;
}
.newsItem {
	border-bottom: 1px dashed #666666;
	margin-bottom: 5px;
}
.newsItem.first {
	border: none;
	margin-bottom: 5px;
}