body {
	background-color:#ccc;
	margin:0px;
	padding:0px;
}
#MainBar{
	background-color:#333;
	height:300px;
	width:100%;
	position: relative;
}
#TopLinks {
	position:absolute;
	right:0px;
	height:35px;
}

#ShadeBar{
	border-top: 1px solid #444;
	background-color:#666;
	height:35px;
	width:100%;
	border-bottom: 1px solid #aaa;
}

#LogoWrapper {
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height:200px;
}
#Logo {

	width:800px;
	height:200px;
	background-image: url(../images/logo.png);
	position: absolute; 
	bottom: 0px;
}
#NavBar {
	margin-left: auto;
	margin-right: auto;
		width:800px;
}
#NavBar  .Button {
	padding:7px;
	float:left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;	
}
#NavBar  .Button  A{ 
	text-decoration:none;
	color:#eee;
}

#NavBar  .Button  A.selected{ 
	text-decoration:none;
	color:#11b7f0;
}
#NavBar  .Button  A:hover{
color: #11b7f0;
}

#TopLinks  .TopLink {
	padding:5px;
	float:left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;	
}
#TopLinks  .TopLink img {
	padding-right:5px;
	vertical-align:middle;
	
}
#TopLinks  .TopLink  A{ 
	text-decoration:none;
	color:#eee;
}
#TopLinks  .TopLink  A:hover{
	color: #11b7f0;
}

#textContentWrapper {
	margin-left: auto;
	margin-right: auto;
	width:1236px;
}
div.textContent #header ,div.textContentWide #header{
	border-bottom: 1px solid #666666;
	font-size:13px;
	font-weight:bold;
	color:#333;
	padding:5px;
	margin-bottom:5px;
	background-color:#ccc;
	background-image: url(../images/boxheader.jpg);
}

div.textContent, div.textContentWide {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#eee;
	float:left;
	
	margin-top:5px;
	margin-left:10px;
	border: 1px solid #666666;
}
div.textContent #content, div.textContentWide #content {
	margin-left:5px;
	margin-right:5px;
}

div.textContent {
	width:400px;
	height:300px;
}
div.textContentWide {
	width:1224px;
}
#gallery {
	margin-left: auto;
	margin-right: auto;
	clear:both;
	width:1048px;
}
#gallery .item, #gallery  .itemWide {
	border: 1px solid #666666;
	float:left;
	
}
#gallery  .itemWide {
	width:500px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:11px;
	margin-right:11px;
}
#gallery .item {
	width:250px;
	margin:5px;
}