html, body {
	background: #ccc url('../images/background.png');
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

#MainBar, #ShadeBar, #footerBar {
	display: table-row;
	height: 1px;
}

#BottomBar {
	display: table-row;
	height: 100%;
}

div {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h3 a {
	font-weight: bold;
}

#MainBar {
	background-color: #333;
	width: 100%;
	position: relative;
}

#BottomBar {
	padding-bottom: 5px;
	width: 100%;
	overflow:auto;
}

#TopLinks {
	text-align: right;
}

#ShadeBar {
	border-top: 1px solid #444;
	width: 100%;
	border-bottom: 1px solid #aaa;
	background: #666;
	background-image: -o-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, rgb(51,
		51, 51) ), color-stop(1, rgb(102, 102, 102) ) );
}

#LogoWrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


h2.Logo {
	display: none;
}

img.Logo {
	width: 100%;
	height: auto;
}

#NavBar {
	width: 100%;
	text-align: center;
}

#NavBar  .Button {
	display: inline-block;
	padding: 7px;
	font-size: 16px;
	font-weight: bold;
}

#NavBar  .Button  A {
	text-decoration: none;
	color: #eee;
}

#TopLinks  .TopLink  A.selected, #NavBar  .Button  A.selected {
	text-decoration: none;
	color: #11b7f0;
}

#NavBar  .Button  A:hover {
	color: #11b7f0;
}

#TopLinks  .TopLink {
	display: inline-block;
	padding: 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#TopLinks  .TopLink img {
	padding-right: 5px;
	vertical-align: middle;
	border: 0px;
}

#TopLinks  .TopLink  A {
	text-decoration: none;
	color: #eee;
}

#TopLinks  .TopLink  A:hover {
	color: #11b7f0;
}

#textContentWrapper {
	width: 100%;
}

div.textContent {
	width: 100%;
}

div.textContentWide {
	width: 100%;
}

h1#header {
		margin:0px;
		padding: 0px;
}

h3 {
	margin: 0;
}

div.textContent #header,div.textContentWide #header {
	border-bottom: 1px solid #666666;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #ccc;
	background-image: linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -o-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -moz-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -webkit-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -ms-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, rgb(204,
		204, 204) ), color-stop(0.68, rgb(238, 238, 238) ) );
}

div.textContent,div.textContentWide {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #eee;
	margin: 5px 0;
	border: 1px solid #666666;
	border-left: none;
	border-right: none;'
}

div.textContent #content,div.textContentWide #content {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
}

.gallery {
	text-align: center;
}

.gallery .item, .gallery .itemWide {
	border: 1px solid #666666;
	display: inline-block;
	max-width: 95%;
	overflow: hidden;
	margin: 5px;
	height: 270px;
}

.gallery .item a, .gallery .itemWide a {
	display: block;
	width: 100%;
}

.gallery  .itemWide {
	width: 518px;
}

.gallery .item {
	width: 250px;
}

.gallery .item img {
	min-width: 250px;
}

.gallery .itemWide img {
	min-width: 518px;
}

img {
	border: 0px;
}

#newsHeadlineDate {
	display: block;
	height: 16px;
	font-weight: bold;
}

#newsHeadline {
	color: #666666;
	display: block;
	font-weight: bold;
	font-size: 16px;
}

.newsItem {
	border-bottom: 1px dashed #666666;
	margin-bottom: 5px;
}

.newsItem.first {
	border: none;
	margin-bottom: 0px;
}

ul.socialbuttons {
	padding: 0 !important;
	margin: 0;
	text-align: center;
}

ul.socialbuttons li {
	padding: 0 5px 0 0 !important;
	list-style: none !important;
	display: inline-block;
}

#footerBar {
	background-color: #666;
	border-top: 1px solid #aaa;
	width:100%;
}

#social {
	margin-top: 5px;
	text-align: center;
	width: 100%;
}

#accordion p a {
	font-weight: bold;
}

code a {
	word-break: break-all;
	word-wrap: break-word;
}