body {
	background-color: #ccc;
	margin: 0px;
	padding: 0px;
}

div {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#MainBar {
	background-color: #333;
	height: 250px;
	width: 100%;
	position: relative;
}

#BottomBar {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 285px;
}

#TopLinks {
	position: absolute;
	right: 0px; 333
	height: 35px;
}

#ShadeBar {
	border-top: 1px solid #444;
	background-image: linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% ); background-image : -o-linear-gradient(
	bottom, rgb( 51, 51, 51) 20%, rgb( 102, 102, 102) 100%);
	background-image : -moz-linear-gradient( bottom, rgb( 51, 51, 51) 20%,
	rgb( 102, 102, 102) 100%); background-image : -webkit-linear-gradient(
	bottom, rgb( 51, 51, 51) 20%, rgb( 102, 102, 102) 100%);
	background-image : -ms-linear-gradient( bottom, rgb( 51, 51, 51) 20%,
	rgb( 102, 102, 102) 100%); background-image : -webkit-gradient( linear,
	left bottom, left top, color-stop( 0.2, rgb( 51, 51, 51)), color-stop(
	1, rgb( 102, 102, 102)));
	height: 35px;
	width: 100%;
	border-bottom: 1px solid #aaa;
	background-image: -o-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(51, 51, 51) 20%,
		rgb(102, 102, 102) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, rgb(51,
		51, 51) ), color-stop(1, rgb(102, 102, 102) ) );
}

#LogoWrapper {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 200px;
}

#Logo {
	width: 800px;
	height: 200px;
	background-image: url(../images/logo.png);
	position: absolute;
	bottom: 0px;
}

#NavBar {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#NavBar  .Button {
	padding: 7px;
	float: left;
	font-size: 16px;
	font-weight: bold;
}

#NavBar  .Button  A {
	text-decoration: none;
	color: #eee;
}

#NavBar  .Button  A.selected {
	text-decoration: none;
	color: #11b7f0;
}

#NavBar  .Button  A:hover {
	color: #11b7f0;
}

#TopLinks  .TopLink {
	padding: 5px;
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#TopLinks  .TopLink img {
	padding-right: 5px;
	vertical-align: middle;
}

#TopLinks  .TopLink  A {
	text-decoration: none;
	color: #eee;
}

#TopLinks  .TopLink  A:hover {
	color: #11b7f0;
}

#textContentWrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1236px;
}

div.textContent #header,div.textContentWide #header {
	border-bottom: 1px solid #666666;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #ccc;
	background-image: linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -o-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -moz-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -webkit-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -ms-linear-gradient(bottom, rgb(204, 204, 204) 20%,
		rgb(238, 238, 238) 68% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, rgb(204,
		204, 204) ), color-stop(0.68, rgb(238, 238, 238) ) );
}

div.textContent,div.textContentWide {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #eee;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	border: 1px solid #666666;
}

div.textContent #content,div.textContentWide #content {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
}

div.textContent {
	width: 400px;
	height: 300px;
}

div.textContentWide {
	width: 1224px;
}

#gallery {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 1048px;
}

#gallery .item,#gallery  .itemWide {
	border: 1px solid #666666;
	float: left;
}

#gallery  .itemWide {
	width: 500px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 11px;
	margin-right: 11px;
}

#gallery .item {
	width: 250px;
	margin: 5px;
}

img {
	border: 0px;
}