/* main layout */



.appLogo {
	/*float:left;*/
}

.vendorLogo {
	float:right;
}


body,html {
padding:0px;
margin:0px;
}

#container
{
left:10px;
right:10px;
position:absolute;
background-color: #fff;
border: 1px solid gray;
bottom:10px;
top:10px;
}

#top
{
background-color: #ddd;
border-bottom: 1px solid gray;
height:50px;
}

#top h1
{
padding: 0;
margin: 0;
}

#leftnav
{
position:absolute;
top:51px;
float: left;
width: 199px;
margin: 0;
bottom:20px;
}

#content
{
position:absolute;
padding:5px;
top:51px;
left:200px;
border-left: 1px solid gray;
bottom:20px;
right:0px;
overflow: auto;
}

#footer
{
position:absolute;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
height:20px;
bottom:0px;
left:0px;
right:0px;
}


.leftNavFrame {
position:absolute;
top:0px;
width: 199px; 
height:100%;
bottom:0px;
}


/* dashboard layout */

.dashboard {
	margin-bottom:25px;
}

 .alertBox {
height:100%;
 }
 .widgetContainer {
  border: 1px solid gray;
 float:left;
 margin-top:5px;
  margin-left:10px;
 margin-right:10px;
 }
.clearFix {
clear:both; 
}
/* Form Layout */
div.wwgrp,div.formSubmit {
	clear: both;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.wwgrp div.wwlbl {
	float: left;
	width: 175px;
	text-align: right;
}

div.wwgrp div.wwctrl {
	float: right;
	width: 375px;
	text-align: left;
}

div.wwgrp {
width: 560px;
}

div.wwgrp br {
	display: none;
}

textarea  {
	overflow:auto;
}



div.wwgrp div.dateTimePicker {
	width: 560px;
}

div.wwgrp div.dateTimePicker table tr td.tdLabel {
	width: 175px;
	text-align: right;
}

div.formSectionInner {
	width: 550px;
	border-style: dashed;
	border-width: 1px;
	border-color: #000000;
	margin: 5px;
}
div.formSectionInner div.smallLabel {
	width:inherit;
	background-color:#666666;
	font-size:12px;
	color:#FFFFFF;
	height:12px;
	font-weight:bold;
/*	vertical-align:middle;*/
	padding:2px;
}

/* General Styles */
input.readOnly {
	background-color: #CCC;
}
.pageTitle{
	font-size:18px;
}
.rowOdd {
	background-color:#EEEEEE;
}
.rowEven {
	background-color:#DFECFF;
}
.rowHeader {
		background-color:#CCCCCC;
}
.headerCell {
	font-weight:bold;
		background-color:#333333;
		color:#ffffff;
		height:24px;
	}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #333333;
}
